// header 
.header
	height: 94px
.header__left
	float: left
	margin-top: 10px
	+s(logo)
.header__right
	float: right
	margin-top: 56px
.phone, .mail
	font-size: 18px
.phone
	padding-right: 5px
.mail
	color: #E44617 
	text-decoration: none
	text-transform: uppercase
	&:hover
		text-decoration: underline
.header__right, .menu
	padding: 0 20px 0 8px 
	+box

.loading
	padding: 20px 
	text-align: center
	font-size: 30px 
	font-family: Helvetica,arial,sans-serif 
// menu
.menu
	position: relative
	width: 100%
	font-size: 0
	.border
		position: absolute
		bottom: -3px 
	.menu__item
		padding: 0 15px
		height: 38px
		font-size: 16px
		display: inline-block
		a
			color: #231F20 
			line-height: 34px
			text-decoration: none
			text-transform: uppercase
			+transition(0.2s) 
		&.is-active
			background: #E44617 
			a
				color: #fff
		&:hover
			background: #E44617 
			+transition(0.2s)
			a
				color: #fff 
	.menu__input
		position: relative
		float: right
		padding-right: 23px
		width: 205px
		input
			padding: 0 9px
			width: 100%
			height: 25px
			line-height: 24px
			font-size: 16px
			border: none 
		&:before
			position: absolute
			content: ""
			top: 0
			left: -1px
			height: 25px
			width: 1px
			background: #000
		i
			position: absolute
			content: ""
			top: 5px
			right: 0
			cursor: pointer
			+s(seach)
			&:hover
				opacity: 0.8


// cycle
.cycle
	position: relative
	margin-top: 3px
	overflow: hidden
	.cycle__field
		position: absolute
		top: 0
		left: 57px
		bottom: 0
		width: 333px
	.cycle__top
		padding: 60px 15px 85px 24px 
		text-transform: uppercase
		.cycle__text
			font-size: 18px
		.h1
			padding-bottom: 10px
			line-height: 1
	.cycle__bot
		position: absolute
		bottom: 0
		padding: 25px 25px 0
		background: rgba(225, 225, 225, 0.6) 
		+box
	.cycle__col
		position: relative
		padding-bottom: 29px
		.h4
			position: relative
			margin-bottom: 18px
			padding: 0 0 5px 2px
			line-height: 1
			text-decoration: none
			display: block
			&:before
				position: absolute
				content: "" 
				left: 0
				bottom: 0
				right: 0
				height: 2px
				background: #231F20 
			&:hover
				&:before
					display: none
		.cycle__date
			position: absolute
			left: -87px
			top: 18px
			padding: 0 12px 0 14px 
			height: 36px
			color: #fff 
			line-height: 36px
			font-size: 14px
			background: #231F20 
			+rotate(270, deg)
.cycle__nav, .collection__prev, .collection__next
	position: absolute
	bottom: 33px
	width: 37px
	height: 37px
	background: #231F20
	z-index: 10000
	+transition(0.2s)
	i
		position: absolute
		top: 50%
		left: 14px
		margin-top: -10px
		+s(next-pic)
	&:hover
		background: #E44617
		+transition(0.2s)
.cycle__nav_prev, .collection__prev
	right: 87px
	i
		left: 10px
		+rotate(180, deg)
.cycle__nav_next
	right: 37px
	span
		right: 0
.collection__prev, .collection__next
	top: 50%
	margin-top: -45px
	height: 90px
.collection__prev
	left: 0
.collection__next
	right: 0
.cycle__item
	position: relative
	width: 100%
	height: 100%
	overflow: hidden
	img
		width: 100%
		display: block
.collection__prev, .collection__next
	&.is-disabled
		opacity: .5 
		&:hover
			background: #231F20
			cursor: default
		
// previews
.previews
	position: relative
	margin-left: -18px
	padding: 14px 0 50px
	font-size: 0
	.border
		position: absolute
		top: 0
		left: -13px
.previews__item
	position: relative
	margin-right: 2%
	width: 32%
	overflow: hidden
	display: inline-block
	background-size: cover !important
	img
		width: 100%
	&:hover 
		.previews__col
			bottom: 0
			+transition(0.4s)
.previews__item_right
	float: right
	margin-right: 0
.previews__col
	position: absolute
	bottom: -143px
	height: 190px
	width: 100%
	background: rgba(255,255,255,.7) 
	+transition(0.4s)
	.h4
		height: 47px
		width: 100%
		line-height: 47px
		color: #fff
		text-align: center
		background: #231F20 
	.previews__text
		padding: 10px 20px 0
	.btn
		position: absolute
		left: 50%
		bottom: 0
		margin-left: -92.5px
		i
			padding-left: 8px
			font-style: normal
			font-size: 30px
			line-height: 1
			vertical-align: text-bottom
			

// popular-items
.popular-items
	position: relative
	.h3
		margin-left: 20px
		padding: 0 10px 
		display: inline-block
		background: #FFF 
	.border
		position: absolute
		top: 26px
		z-index: -1
	.carousel
		padding: 38px 37px 32px 
		position: relative
		overflow: hidden
		.cycle-carousel-wrap, .cycle-slideshow
			width: 100% !important
		.cycle__nav
			top: 120px
			width: 36px
			height: 90px
		.cycle__nav_prev
			left: 0
		.cycle__nav_next
			right: 0
	.cycle-sentinel
		margin: 0
	.price
		position: absolute
		bottom: 0
		right: 37px
		

// .collection
.collection_slider
	padding: 35px 0
.collection__in
	white-space: nowrap
	text-align: center
	overflow: hidden
	font-size: 0
	.h4
		min-height: 42px
		line-height: 1.2
		font-weight: 700
.collection__block
	position: relative
	width: 33.3333%
	vertical-align: top
	display: inline-block
	white-space: normal
	font-size: 12px
	text-decoration: none
	&:hover
		.h4
			text-decoration: underline
	@media (min-width: 1760px)
		width: 25%
.collection__img
	height: 310px
	width: 100%
	line-height: 310px
	font-size: 0
	text-align: center
	img
		vertical-align: middle
		
		

.popular-items_mod
	padding-bottom: 37px
	.in
		position: absolute
		bottom: 0
		left: 50%
		margin-left: -106px
		font-size: 18px
		border: none
		i
			padding-left: 5px
			color: #FFF 
			font-style: normal
			font-size: 25px
			line-height: 1
	.border
		top: 100%
.price
	width: 154px
.price__value
	float: right
	padding: 0 18px 
	height: 37px
	font-family: 'Roboto Condensed', sans-serif
	font-weight: 900 
	text-align: center
	line-height: 37px
	color: #fff 
	z-index: 20000
	background: #E44617
	display: inline-block 
.price__discount
	float: right
	padding: 0 12px 
	height: 37px
	line-height: 37px
	text-align: center
	color: #fff 
	background: #231F20 
	display: inline-block


// .article
.article
	position: relative
	padding: 14px 0 25px 18px
	width: 100%
	font-size: 0
	+box
	.border
		position: absolute
		top: 0
.article__item
	position: relative
	padding-right: 74px
	width: 33%
	vertical-align: top
	display: inline-block
	+box
	.h4
		padding: 10px 0 15px 
		line-height: 1.1
		text-decoration: none
		display: block
		&:hover
			text-decoration: underline
.article__item_mod
	display: none
.article__continue	
	position: absolute
	top: 0
	right: 28px
	height: 37px
	width: 37px
	line-height: 37px
	color: #fff 
	text-align: center
	text-decoration: none
	font-weight: bold
	font-size: 18px
	background: #231F20 
	display: inline-block
	+transition(0.2s)
	&:hover	
		background: #e44617 
		+transition(0.2s)
		.h4
			text-decoration: underline


// page item
.l-col
	margin: 18px 0
	// .l-col1_mod
	// 	max-width: 490px 
	.l-col2
		padding: 0 20px
		+box
.gallery
	width: 100%
	.gallery__item
		width: 100%
		img
			width: 100%
.gallery__nav
	width: auto !important
	.cycle-carousel-wrap
		width: 96.5% !important
	.cycle-slide
		margin-right: 2%
		font-size: 0
		width: 33%
		+box
		img
			min-height: 147px
			margin-bottom: 1%
			border: 1px solid #e9e9e9
			cursor: pointer
			+box
			&:last-child
				margin-right: 0	
//characteristic
.characteristic__top
	position: relative
	margin: 34px 0 16px
	width: 100%
	.h3
		display: inline-block
		line-height: 37px 
	.price
		position: absolute
		top: 0
		right: 0
		.price__value
			width: 179px
			font-size: 26px
			font-weight: 400 
			text-align: left
			+box
.characteristic__row
	border-top: 1px solid #e9e9e9
	padding: 15px 0
.characteristic__left
	width: 100%
	.h4
		margin-bottom: 16px
.characteristic__item
	margin-bottom: 12px
	line-height: 1.2
	color: #898586 
.characteristic__article
	font-size: 12px
.characteristic__mark
	font-size: 16px
	text-transform: uppercase
.characteristic__right
	float: right
	width: 179px
	.in
		margin-bottom: 20px
	.h4
		line-height: 1
.in
	padding: 10px 15px
	font-size: 16px
	line-height: 1.2
	text-transform: uppercase
	border-bottom: 3px solid #e44617 
	background: #231F20 
	a
		color: #fff 
		text-decoration: none
		&:hover
			text-decoration: underline
.series__table
	margin-top: 16px
	width: 100%
	font-size: 0
	td
		margin: 0 10px 7px 0
		width: 37px
		height: 37px
		color: #fff
		text-align: center 
		line-height: 37px
		font-size: 16px
		cursor: pointer
		background: #231F20 
		display: inline-block
		+transition(0.2s)
		&:last-child
			margin-right: 0
		&:hover
			background: #e44617 
			+transition(0.2s)
.description
	p
		margin-top: 8px
		color: #231F20 

// page collection
.clause
	position: relative
	padding-top: 40px
	.border
		position: absolute
	.h3
		margin-bottom: 30px
		line-height: 1
	.h4
		margin-bottom: 12px
		line-height: 1
.clause__row
	padding: 0 0 20px 20px
.clause__col
	margin-bottom: 14px
	font-size: 0
.clause__img
	margin-right: 2%
	width: 32%
	display: inline-block
	img
		width: 100%
		display: block
.clause__img_right
	margin-right: 0

// page collection
.collection
	.h3
		padding: 34px 0 24px 20px 
.collection__row
	padding: 38px 45px 0 30px
	+box
	.collection__item
		margin-bottom: 52px
		height: auto
		font-size: 0
		.h4
			min-height: 50px
			text-decoration: none
			text-align: center
		.collection__block
			width: 33%
			&:hover
				.h4
					text-decoration: underline
	.collection__img
		height: auto
		img
			padding-right: 0
			width: 100%
	.price
		float: right
		bottom: 0
.collection__menu
	.menu__item 
		a
			text-transform: none
	.border
		bottom: 0
		height: 1px
		z-index: -1 
		background: #E9E9E9 
	.input
		float: right 
.input
	min-width: 152px
	margin-top: -15px
	vertical-align: middle
	font-family: 'Roboto Condensed', sans-serif
	color: #231F20 
	display: inline-block
.input__title
	font-size: 13px
	line-height: 1
	color: #898586
.select
	min-width: 152px
	position: relative
	padding: 10px 17px 0
	font-size: 15px
	cursor: pointer
	font-weight: bold
	&.is-active
		padding-bottom: 11px
		+box-shadow( 0 0 5px #c4c4c4)
		.select__list
			display: block
		.select__text
			&:before
				+rotate(180, deg)
.select__text
	position: relative
	padding-right: 24px
	height: 20px
	line-height: 20px
	font-weight: 400
	font-size: 16px 
	text-transform: uppercase
	display: block
	&:before
		position: absolute
		content: ''
		top: 50%
		right: 0
		margin-top: -2.5px
		+s(sel-pic)
.select__list
	position: absolute
	top: 52px
	left: 0
	right: 0
	font-weight: normal
	text-transform: uppercase
	z-index: 100
	display: none
	background: #FFF 
	+box-shadow( 0 2px 5px #c4c4c4)
	li
		margin: 0 11px 
		padding: 0 6px 
		height: 38px
		line-height: 38px
		border-top: 1px solid #e9e9e9 
		&:hover
			background: #E44617 
			+transition(0.2s)

// wrapper
.wrapper
	.h1
		padding: 32px 0 15px
	.h4
		padding-top: 40px
	p
		padding: 5px 0
	.link__more
		padding-top: 10px
		font: 13px normal Arial, sans-serif
		color: #E44617 
		text-decoration: none
		display: inline-block
		&:hover
			text-decoration: underline
.advantage
	margin: 20px 0 30px 
	li
		position: relative
		padding-left: 20px
		&:before
			position: absolute
			content: ''
			top: 11px
			left: 6px
			+s(mark-pic)
.table
	margin-bottom: 20px
	tr
		td, th
			min-width: 180px
			text-align: center
			border: 1px solid #231F20 
			&:first-child
				padding-left: 28px
				min-width: 577px
				text-align: left
			&:last-child
				min-width: 197px
		td
			height: 39px
			p
				line-height: 39px
		th
			font-size: 18px
			text-transform: uppercase
			font-weight: 400 
			line-height: 55px
			font-family: 'Roboto Condensed', sans-serif
.text_bgred
	margin: 10px 0 
	padding: 0 20px
	color: #fff 
	background: #E44617 
.form
	margin: 50px auto 95px
	width: 452px
	font-size: 0
	textarea, input
		margin: 0 9px 9px 0
		padding: 10px 10px 10px 16px 
		line-height: 1.2
	textarea
		width: 442px
		height: 108px
		resize: none
		+box
	input
		width: 217px
	.h4
		margin-bottom: 22px
		text-align: center
	.btn
		margin-right: 9px
		width: 217px
		height: 37px
		line-height: 37px
		+box
	.form__field
		font-size: 0
		.input
			width: 217px
			//margin-top: -10px
			// height: 1em 
			margin: 0 
			height: 44px 
			
		.select_mod
			padding: 0
			&.is-active
				padding-bottom: 0
		.select__list
			width: 199px + 15px
			left: 1px
			top: 35px
			margin: 0 
			//padding-right: 15px
		.select__text
			padding: 10px 10px 10px 16px
			width: 217px
			height: 35px
			line-height: 1
			border: 1px solid #231F20
			+box
			&:before
				right: 14px
		input
			line-height: .9
			vertical-align: top 
			height: 35px 
			padding-bottom:  9px
				

// page typography
.map
	position: relative
	padding-top: 3px
	img
		width: 100%
		display: block
	.border
		position: absolute
		top: 0
		left: 0
		right: 0
.map__block
	position: absolute
	padding: 8px 40px 8px 8px
	height: 38px
	color: #fff 
	font-size: 16px
	text-decoration: none
	text-transform: uppercase
	cursor: pointer
	background: #e44617
	display: none
	+border-radius(5px) 
	+box
	span
		text-transform: lowercase
	i
		position: absolute
		top: 12px
		right: 12px
		+s(map-pic)
	&:before
		position: absolute
		content: ''
		left: -29px
		top: -7px
		+s(mar-pic)
	&:after
		position: absolute
		content: ''
		left: 9px
		bottom: -22px
		+arr(25,22, #e44617, b)
	&.map__block_mos
		left: 9.5%
		top: 33.5%
		display: block
	&.map__block_ryaz
		left: 10%
		top: 40%
	&.map__block_pen
		top: 46.5%
		left: 11%
	&.map__block_rost
		left: 3.2%
		top: 52.5%
	&.map__block_kir
		left: 18.5%
		top: 41%
	&.map__block_per
		left: 23.45%
		top: 44%
	&.map__block_sykt1
		left: 26.5%
		top: 31%
	&.map__block_sykt2
		left: 23.5%
		top: 36%
	&.map__block_tom
		left: 38.5%
		top: 60%
	&.map__block_kras
		left: 50.5%
		top: 48%
	&.map__block_yak1
		left: 72.5%
		top: 21%
	&.map__block_yak2
		left: 61.5%
		top: 46%
	&.map__block_yak3
		left: 72.5%
		top: 57%
	&.map__block_irkut
		left: 52.5%
		top: 70%
	&.map__block_chit
		left: 67.5%
		top: 65.5%
	&.map__marker_petr
		right: -14.7%
		top: 37%
.map__item
	display: inline-block
	&.is-active
		.map__block
			display: block
.map__marker
	position: absolute
	cursor: pointer
	+s(pointer-pic)
.map__marker_mos
	top: 42%
	left: 11%
.map__marker_ryaz
	top: 49%
	left: 11.5%
.map__marker_pen
	top: 55%
	left: 12.5%
.map__marker_rost
	top: 61%
	left: 4.8%
.map__marker_kir
	top: 50%
	left: 20%
.map__marker_per
	top: 53%
	left: 25%
.map__marker_sykt1
	top: 40%
	left: 28%
.map__marker_sykt2
	top: 45%
	left: 25%
.map__marker_tom
	top: 69%
	left: 40%
.map__marker_kras
	top: 57%
	left: 52%
.map__marker_yak1
	top: 30%
	left: 74%
.map__marker_yak2
	top: 55%
	left: 63%
.map__marker_yak3
	top: 66%
	left: 74%
.map__marker_irkut
	top: 79%
	left: 54%
.map__marker_chit
	top: 74.5%
	left: 69%
.map__marker_petr
	top: 46%
	right: 5%
.shops
	display: none
.shops__ul
	margin-top: 30px
	.shops__item
		margin-right: 10%
		width: 26%
		font-size: 13px
		display: inline-block
		&:last-child
			margin-right: 0